@using Instart.Models
@model Teacher
@{
    ViewBag.Title = "导师详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--banner展示图-->
@Html.Partial("PartialBanner", Instart.Models.Enums.EnumBannerPos.Teacher)

<!--导师介绍-->
<div class="title">
    <h2>导师介绍</h2>
</div>
<div class="relative">
    <div class="maincont meester overflow">
        <div class="mee-left fl"><img src="@Model.Avatar" alt=""></div>
        <div class="mee-right fr">
            <div class="mee-info">
                <div class="stel"><a href="#">向TA提问</a></div>
                <dl class="mee-info-top">
                    <dt>导师背景</dt>
                    <dd><em>姓名</em><span>@Model.Name</span></dd>
                    <dd><em>院校背景</em><span><a href="/school/details/@Model.SchoolId">@Model.SchoolName</a></span></dd>
                    <dd><em>专业</em><span><a href="/major/details/@Model.MajorId">@(Model.MajorName) @(Model.MajorNameEn)</a></span></dd>
                    <dd>
                        <em>擅长课程</em><span>
                            @foreach (Course item in ViewBag.CourseList)
                            {
                                <a href="/course/details/@item.Id">@item.Name</a>
                            }
                        </span>
                    </dd>
                </dl>
                <dl class="mee-info-bottom">
                    <dt>导师荣誉</dt>
                    <dd>@Model.Introduce</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="maincont">
    <div class="title">
        <h2>导师案例</h2>
    </div>
    <div class="caselist com-cont">
        <ul>
            @foreach (Student item in ViewBag.StudentList)
            {
                <li>
                    <div class="case-cont">
                        <div class="top"><a href="/school/details/@item.SchoolId"><i></i><img src="@item.SchoolLogo" alt=""></a></div>
                        <dl>
                            <a href="/major/details/@item.MajorId">
                                <dt>@item.SchoolName</dt>
                                <dd>@item.MajorName</dd>
                            </a>
                        </dl>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

