@using Instart.Models
@using Instart.Web.Infrastructures
@model Instart.Models.Campus

@{
    ViewBag.Title = "编辑校区";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddOrUpdate", "Campus", new { area = "Manage" }, FormMethod.Post, new { enctype = "multipart/form-data", id = "mainForm" }))
{
@Html.HiddenFor(m => m.Id)
<table class="table table-nobordered" style="top: 100px;">
    <tr>
        <td>校区名称：</td>
        <td>@Html.TextBoxFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>英文名称：</td>
        <td>@Html.TextBoxFor(m => m.EnName)</td>
    </tr>
    <tr>
        <td>地址：</td>
        <td>@Html.TextBoxFor(m => m.Address)</td>
    </tr>
    <tr>
        <td>电话：</td>
        <td>@Html.TextBoxFor(m => m.Phone)</td>
    </tr>
    <tr>
        <td>文字描述：</td>
        <td>@Html.TextAreaFor(m => m.Introduce, new { style = "width: 600px;height: 200px;" })</td>
    </tr>
    <tr>
        <td>
            校区图片:
        </td>
        <td>
            @if (Model.ImgUrls != null)
            {
                foreach (var item in Model.ImgUrls)
                {
                    <div>
                        <span>@item</span> <a href="javascript:void(0)" onclick="deleteFile(this, '@item')">[删除]</a>
                    </div>
                }
            }
            <div>
            <a href="javascript:void(0)" id="imgs" onclick="addFile('imgs')">点击添加文件</a>
            </div>
            <div id="_containerimgs"></div>
        </td>
    </tr>
    <tr>
        <td><input type="button" class="btn btn-primary" value="提交" onclick="save()" /></td>
    </tr>

</table>
}


@section Bottom{
    <script>
        var introduce = UE.getEditor('Introduce', {
            autoHeight: false
        });

        function save() {
            $("#mainForm").ajaxSubmit({
                success: function (slt) {
                    if (slt && slt.success) {
                        location.href = '@Url.Action("index", "campus", new { area="manage"})';
                    }
                    else {
                        alert(slt.message || '操作失败，请重试。');
                    }
                }
            });
        }

        function addFile(flag) {
            var div = $("<div></div>");
            var f = $("<input/>");
            f.attr("type", "file");
            f.attr("name", flag);
            f.attr("size", "50");
            div.append(f);
            var d = $("<input type='button' onclick=\"deteFile(this, '" + flag + "')\" value='删除'/>");
            div.append(d);
            $("#_container" + flag).append(div);
            var a = $("#a" + flag);
            if (a.text() == "点击添加文件") {
                a.text("继续添加文件");
            }
        }

        /*删除添加的文件选择器
-----------------------------------------------------------*/
        function deteFile(object, flag) {
            $(object).parent().detach();
            var a = $("#a" + flag);
            if ($("#_container" + flag).html() == '') {
                a.text("点击添加文件");
            }
        }

        function deleteFile(obj, imgUrl) {
            $.messager.confirm('确认', '确定要删除吗？', function (r) {
                if (r) {
                    var result = false;
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("deletefile", "campus", new { area="manage"})',
                        data: { "id": $("#Id").val(), "imgUrl": imgUrl },
                        async: false,
                        success: function (slt) {
                            if (slt && slt.success) {
                                result = true;
                            }
                            else {
                                alert("抱歉，删除文件失败，请重试。");
                            }
                        }
                    });
                    if (result) {
                        $(obj).parent().detach();
                    }
                }
                else {
                    return;
                }
            });
        }

    </script>
}

