@using Instart.Models
@using Instart.Web.Infrastructures
@model Instart.Models.Contact

@{
    ViewBag.Title = "联系我们";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddOrUpdate", "Contact", new { area = "Manage" }, FormMethod.Post, new { enctype = "multipart/form-data", id = "mainForm" }))
{
<table class="table table-nobordered" style="top: 100px;">
    <tr>
        <td>电话号码：</td>
        <td>@Html.TextBoxFor(m => m.Phone)</td>
    </tr>
    <tr>
        <td>Ins：</td>
        <td>@Html.TextBoxFor(m => m.Ins)</td>
    </tr>
    <tr>
        <td>微博：</td>
        <td>@Html.TextBoxFor(m => m.Blog)</td>
    </tr>
    <tr>
        <td>商务合作：</td>
        <td>@Html.TextBoxFor(m => m.Cooperation)</td>
    </tr>
    <tr>
        <td>二维码：</td>
        <td><input type="file" name="Qrcode" /></td>
    </tr>
    <tr>
        <td>招贤纳士：</td>
        <td>@Html.TextAreaFor(m => m.Recruit, new { style = "width: 600px;height: 400px;" })</td>
    </tr>
    <tr>
        <td><input type="button" class="btn btn-primary" value="保存" onclick="save()" /></td>
    </tr>
</table>
}


@section Bottom{
    <script>
        var introduce = UE.getEditor('Recruit', {
            autoHeight: false
        });

        function save() {
            $("#mainForm").ajaxSubmit({
                success: function (slt) {
                    if (slt && slt.success) {
                        alert('保存成功。');
                    }
                    else {
                        alert(slt.message || '操作失败，请重试。');
                    }
                }
            });
        }

    </script>
}

