@using Instart.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--banner展示图-->
<div class="banner">
    <ul class="lubo_box">
        @foreach (Banner item in ViewBag.BannerList)
        {
            if (item.Type == Instart.Models.Enums.EnumBannerType.Image)
            {
                <li><a style="background:url(@item.ImageUrl) center top no-repeat"></a></li>
            }
            else if (item.Type == Instart.Models.Enums.EnumBannerType.Video)
            {
                <li style=" opacity: 1;filter:alpha(opacity=100);">
                    <a href="" style="background:url(@item.ImageUrl) center top no-repeat">
                        <video autoplay="autoplay" muted="muted" loop="loop" poster="https://storage.googleapis.com/tate-digital/videos/winifred-knights/the-deluge.jpg" title="">
                            <source class="video--mp4" src="@item.VideoUrl" type="video/mp4">
                        </video>
                    </a>
                </li>
            }
        }
    </ul>
</div>

<div class="maincont">
    <!--明星学员专访-->
    <div class="interview">
        <div class="title">
            <h2>明星学员专访</h2>
        </div>
        <div class="interlist">
            <div class="bd">
                <ul>
                    @if (ViewBag.VideoList != null)
                    {
                        foreach (Student item in ViewBag.VideoList)
                        {
                            <li>
                                <div class="picimg">
                                    <a href="#">
                                        <img src="@item.ImgUrl" alt="" /> <i></i>
                                        <p>@item.Title</p>
                                    </a>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="hd">
                <a class="prev"></a>
                <ul></ul>
                <a class="next"></a>
            </div>
        </div>
    </div>
    <!--成功学员-->
    <div class="title">
        <h2>成功学员</h2>
    </div>
    <div class="chenggong">
        <div class="success-people com-cont noborder bd">
            <div class="ulWrap">
                <ul>
                    @if (ViewBag.StudentList != null)
                    {
                        foreach (Student item in ViewBag.StudentList)
                        {
                            <li>
                                <div class="peoplecont">
                                    <div class="top"><a href="#"><i></i><img src="@item.Avatar" alt="" /></a></div>
                                    <dl>
                                        <dt><a href="#">@item.Name</a></dt>
                                        <dd class="pe1">录取专业：@item.MajorName</dd>
                                        <dd class="pe2">offer：@item.SchoolName</dd>
                                    </dl>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="hd mar-top">
            <a class="prev"></a>
            <ul></ul>
            <a class="next"></a>
        </div>
    </div>
    <!--名校录取-->
    <div class="title">
        <h2>名校录取</h2>
    </div>
    <div class="toegeven">
        <div class="caselist com-cont bd">
            <div class="ulWrap">
                <ul>
                    @if (ViewBag.SchoolList != null)
                    {
                        foreach (School item in ViewBag.SchoolList)
                        {
                            <li>
                                <div class="case-cont">
                                    <div class="top"><a href="#"><i></i><img src="@item.Logo" alt="" /></a></div>
                                    <dl>
                                        <a href="#">
                                            <dt>@item.Name</dt>
                                            <dd>录取比例：90%</dd>
                                        </a>
                                    </dl>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="hd mar-top">
            <a class="prev"></a>
            <ul></ul>
            <a class="next"></a>
        </div>
    </div>
    <!--课程推荐-->
    <div class="title">
        <h2>课程推荐</h2>
        <a href="#" class="more">查看全部&gt;&gt;</a>
    </div>
    <div class="recommend com-cont">
        <ul>
            @foreach (Course item in ViewBag.CourseList)
            {
                <li>
                    <div class="recimg">
                        <a href="#">
                            <i></i>
                            <p>@item.Introduce</p>
                            <img src="@item.Picture" alt="@item.Name" />
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

