
@{
    ViewBag.Title = "Instart后台管理系统";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="padding: 0; padding-top: 75px">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">常用功能</h3>
                        </div>
                        <div class="panel-body panel-height">
                            <ul>
                                <li>
                                    <a href="/manage/school">艺术院校</a>
                                    <a href="/manage/teacher">艺术导师</a>
                                    <a href="/manage/student">成功学员</a>
                                    <a href="/manage/works">作品管理</a>
                                    <a href="/manage/course">课程管理</a>
                                    <a href="/manage/banner">轮播管理</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">数据统计</h3>
                        </div>
                        <div class="panel-body panel-height">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge">@ViewBag.Statistics.SchoolCount</span>
                                    院校数量
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">@ViewBag.Statistics.TeacherCount</span>
                                    导师数量
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">@ViewBag.Statistics.StudentCount</span>
                                    学员数量
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">@ViewBag.Statistics.MajorCount</span>
                                    专业数量
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">@ViewBag.Statistics.CourseCount</span>
                                    课程数量
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">@ViewBag.Statistics.SchoolApplyCount</span>
                                    院校咨询
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">@ViewBag.Statistics.CourseApplyCount</span>
                                    课程咨询
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="/manage/schoolapply" style="float:right;">全部</a>
                            <h3 class="panel-title">最近院校咨询</h3>
                        </div>
                        <table class="table table-hover table-bordered">
                            <tr>
                                <th>申请人</th>
                                <th>院校</th>
                                <th>申请时间</th>
                            </tr>
                            @foreach (Instart.Models.SchoolApply item in ViewBag.SchoolApplyList)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.SchoolName</td>
                                    <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.CreateTime)</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="/manage/courseapply" style="float:right;">全部</a>
                            <h3 class="panel-title">最近课程咨询</h3>
                        </div>
                        <table class="table table-hover table-bordered">
                            <tr>
                                <th>申请人</th>
                                <th>课程</th>
                                <th>申请时间</th>
                            </tr>
                            @foreach (Instart.Models.CourseApply item in ViewBag.CourseApplyList)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.CourseName</td>
                                    <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.CreateTime)</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="/manage/majorapply" style="float:right;">全部</a>
                            <h3 class="panel-title">最近专业咨询</h3>
                        </div>
                        <table class="table table-hover table-bordered">
                            <tr>
                                <th>申请人</th>
                                <th>专业</th>
                                <th>申请时间</th>
                            </tr>
                            @foreach (Instart.Models.MajorApply item in ViewBag.MajorApplyList)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.MajorName</td>
                                    <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.CreateTime)</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="/manage/teacherquestion" style="float:right;">全部</a>
                            <h3 class="panel-title">最近向导师提问</h3>
                        </div>
                        <table class="table table-hover table-bordered">
                            <tr>
                                <th>申请人</th>
                                <th>导师</th>
                                <th>申请时间</th>
                            </tr>
                            @foreach (Instart.Models.TeacherQuestion item in ViewBag.TeacherQuestionList)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.TeacherName</td>
                                    <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.CreateTime)</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/manage/log" style="float:right;">全部</a>
                    <h3 class="panel-title">操作日志</h3>
                </div>
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>操作人</th>
                        <th>内容</th>
                        <th>时间</th>
                    </tr>
                    @foreach (Instart.Models.Log item in ViewBag.LogList)
                    {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.Title</td>
                        <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.CreateTime)</td>
                    </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

