@using Instart.Models
@using Instart.Web2.Infrastructures
@{
    ViewBag.Title = "Instart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--banner展示图-->
@Html.Partial("PartialBanner", Instart.Models.Enums.EnumBannerPos.Index)

<div class="maincont">
    <!--成功-->
    <div class="title">
        <h2>成功学员</h2>
        <a href="/student" class="more">查看全部&gt;&gt;</a>
    </div>
    <div class="success-people com-cont">
        <ul>
            @foreach (Student item in ViewBag.StudentList)
            {
                <li>
                    <div class="peoplecont">
                        <div class="top"><a href="/student/details/@item.Id"><i></i><img src="@item.Avatar" alt="" /></a></div>
                        <dl>
                            <dt><a href="/student/details/@item.Id">@item.Name</a></dt>
                            <dd class="pe1">录取专业：@item.MajorName</dd>
                            <dd class="pe2">offer：@item.SchoolName </dd>
                        </dl>
                    </div>
                </li>
            }
        </ul>
    </div>
    <!--艺术导师-->
    <div class="title">
        <h2>艺术导师</h2>
        <a href="/teacher" class="more">查看全部&gt;&gt;</a>
    </div>
    <div class="teacher com-cont">
        <ul>
            @foreach (Teacher item in ViewBag.TeacherList)
            {
                <li>
                    <div class="teacher-cont">
                        <div class="top"><a href="/teacher/details/@item.Id"><i></i><img src="@item.Avatar" alt="@item.Name" /></a></div>
                        <dl>
                            <dt><a href="/teacher/details/@item.Id">@(item.Name) @(item.NameEn)</a></dt>
                            <dd class="teac-m">
                                <p><span>@item.SchoolName</span><small>@item.SchoolNameEn</small></p>
                                <p><span>@item.MajorName</span><small>@item.MajorNameEn</small></p>
                            </dd>
                            <dd class="teac-b"><i style="display:inline-block; width:8px; height:8px; border-radius:50%; background:@item.DivisionColor; margin-right:6px;"></i>@(item.DivisionName) @(item.DivisionNameEn)</dd>
                        </dl>
                    </div>
                </li>
            }
        </ul>
    </div>
    <!--名校推荐-->
    <div class="title">
        <h2>名校推荐</h2>
        <a href="/school" class="more">查看全部&gt;&gt;</a>
    </div>
    <div class="school com-cont">
        <ul>
            @foreach (School item in ViewBag.SchoolList)
            {
                <li>
                    <div class="school-cont">
                        <div class="top"><a href="/school/details/@item.Id"><i></i><img src="@item.Avatar" alt="" /></a></div>
                        <div class="s-name">
                            <div class="s-name-left">
                                <dl>
                                    <dt>@item.Name</dt>
                                    <dd>@item.NameEn</dd>
                                    <p><span class="glaxfont">申请难度：</span>@item.Difficult</p>
                                    <p><div class="stars" style="width:100%" flag="@item.Difficult"></div></p>
                                    <p><span class="glaxfont">录取比例：</span>@(item.AcceptRate + "%")</p>
                                </dl>
                            </div>
                            <div class="s-name-right"><a href="/school/details/@item.Id"><img src="@item.Logo" alt="" /></a></div>
                        </div>
                        <div class="yuanxiao">
                            <p><span><i class="glaxfont">国家:</i> @item.Country.GetDescription()</span><span><i class="glaxfont">留学预算:</i> @item.Fee</span><span><i class="glaxfont">平均奖学金:</i> @item.Scholarship</span></p>
                            <p><span><i class="glaxfont">申请截止日期:</i> @item.LimitDate</span></p>
                            <p><span><i class="glaxfont">语言要求:</i> @item.Language</span></p>
                            <p><span><i class="glaxfont">优势专业:</i> @item.RecommendMajor</span></p>
                            <div class="morea"><a href="/school/details/@item.Id">院校详情</a></div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <!--合作伙伴-->
    <div class="title">
        <h2>合作伙伴</h2>
    </div>
    <div class="teamwork com-cont">
        <ul>
            @foreach (Partner item in ViewBag.PartnerList)
            {
                <li>
                    <p><a href="@item.Link" target="_blank"><img src="@item.ImageUrl" alt="@item.Name" /></a></p>
                </li>
            }
        </ul>
    </div>
    <!--课程推荐-->
    @Html.Partial("PartialRecommendCourse")
</div>

@section Bottom{
    <script type="text/javascript">
        $(function () {
            //申请难度特效
            $('.stars').each(function (i, n) {
                $(this).raty({
                    number: 5, //多少个星星设置
                    score: $(this).attr('flag'),
                    targetType: 'number', //类型选择，number是数字值，hint，是设置的数组值
                    path: 'content/images',
                    size: 24,
                    starHalf: 'star-half.png',
                    starOff: 'star-off.png',
                    starOn: 'star-on.png',
                    precision: true, //是否包含小数
                    readOnly: true
                });
            });
        })
    </script>
}