@using Instart.Models
@using Instart.Web.Infrastructures
@using Instart.Models.Enums
@model Instart.Models.Banner

@{
    ViewBag.Title = ViewBag.Action;
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/manage/banner">轮播管理</a></li>
    <li class="active">@ViewBag.Action</li>
</ol>

<form class="form-horizontal edit-container-width" id="mainForm" method="post" target="_self" action="/manage/banner/set" enctype="multipart/form-data">

    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="form-group">
        <label class="col-sm-2 control-label">标题：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Title" value="@Model.Title">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">跳转链接：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Link" value="@Model.Link">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">类型：</label>
        <div class="col-sm-10">
            <select id="selType" name="Type" class="form-control">
                @foreach (Instart.Common.EnumberEntity item in ViewBag.TypeList)
                {
                    <option value="@item.EnumValue">@item.Description</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">位置：</label>
        <div class="col-sm-10">
            <select id="selPos" name="Pos" class="form-control">
                @foreach (Instart.Common.EnumberEntity item in ViewBag.PosList)
                {
                    <option value="@item.EnumValue">@item.Description</option>
                }                
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">排序：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="GroupIndex" value="@Model.GroupIndex">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">图片：</label>
        <div class="col-sm-10">
            <img src="@Model.ImageUrl" id="imagePreview" style="width:80%;height:200px;border:1px solid #eee;" />
            <input type="hidden" name="ImageUrl" value="@Model.ImageUrl" />
            <a href="javascript:void(0)" onclick="$('#fileImage').click()" class="btn-link" style="position:relative;top:90px;">点击上传</a>
            <input type="file" id="fileImage" name="fileImage" style="display:none;" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">视频：</label>
        <div class="col-sm-10">
            <input type="hidden" name="VideoUrl" value="@Model.VideoUrl" />
            <input type="file" name="fileVideo" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">显示：</label>
        <div class="col-sm-10">
            @if (Model.IsShow)
            {
                <input type="checkbox" class="chkShow"  checked="checked" /><text>显示</text>
            }
            else
            {
                <input type="checkbox" class="chkShow" /><text>显示</text>
            }
            <input type="hidden" name="IsShow" value="@Model.IsShow" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="btnSubmit" type="button" class="btn btn-success">提交</button>
        </div>
    </div>
</form>

<script>
    $(function () {
        $("#btnSubmit").click(function () {
            var title = $("input[name='Title']").val();
            if (title == '') {
                layer.msg('标题不能为空');
                return;
            }

            $("#mainForm").ajaxSubmit({
                success: function (slt) {
                        if (slt && slt.success) {
                            var msg = "@Model.Id" > 0 ? "修改成功" : "添加成功";
                            layer.alert(msg, function (index) {
                                layer.close(index);
                                location.href = '/manage/banner';
                            });

                        }
                        else {
                            layer.msg(slt.message || '操作失败，请重试。');
                        }
                    }
                });
        });

        $("#selType").val("@((int)Model.Type)");

        $("#selPos").val("@((int)Model.Pos)");

        $(".chkShow").click(function () {
            var checked = $(this).is(":checked");
            $("input[name='IsShow']").val(checked);
        });

        $('#fileImage').change(function () {
            imagePreview(this.files[0], $("#imagePreview"));
        });
    });
</script>


