@using Instart.Models
@using Instart.Web.Infrastructures

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div>
    <p class="pull-right list-info"><b>@ViewBag.Total</b>条记录，共<b>@ViewBag.TotalPages</b>页</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">添加</button>
</div>
<table class="table table-bordered table-striped" style="margin-top:15px;">
    <thead>
        <tr>
            <th>#</th>
            <th>标题</th>
            <th>图片</th>
            <th>视频</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (Banner item in Model)
            {
                <tr>
                    <td style="width:5%;">@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.ImageUrl</td>
                    <td>@item.VideoUrl</td>
                    <td>@string.Format("{0:yyyy-MM-dd}", item.CreateTime)</td>
                    <td style="width:5%;">
                        <a data-id="@item.Id" href="javascript:void(0)" class="delete">删除</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="row page-center">
    @if (ViewBag.TotalPages > 1)
    {
        <div class="pagination">
            <ul class="pl0">
                @Html.Pager((int)(ViewBag.TotalPages), (int)(ViewBag.PageIndex), "list", new { area = "manage" })
            </ul>
        </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加Banner</h4>
            </div>
            <div class="modal-body">
                <table class="table table-nobordered">
                    <tr>
                        <td style="width:80px;">标题：</td>
                        <td>
                            <input id="txtTitle" type="text" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>跳转链接：</td>
                        <td>
                            <input id="txtLink" type="text" class="form-control" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btnSubmit" type="button" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>

@section Bottom{
    <script>
        $(function () {
            $('#btnSubmit').click(function () {
                var title = $('#txtTitle').val();
                var link = $('#txtLink').val();
                if (intime == '') {
                    alert('标题不能为空！');
                    return false;
                }
                $.ajax({
                    type: 'POST',
                    url:  '@Url.Action("insert", "banner", new { area="manage"})',
                    data: {Intime:intime,Content:content},
                    success: function (slt) {
                        if (slt && slt.success) {
                            location.reload();
                        }
                        else {
                            alert(slt.message || '操作失败，请重试！');
                        }
                    }
                });
            });
        });
    </script>
}

