@using Instart.Models
@using Instart.Web2.Infrastructures
@model Instart.Models.AboutInstart

@{
    ViewBag.Title = "关于一沙";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.Partial("PartialOther")
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding-top:75px;">
        <ol class="breadcrumb">
            <li><a href="/manage/about">关于一沙</a></li>
        </ol>

        @using (Html.BeginForm("Set", "About", new
        {
            area = "Manage"
        }, FormMethod.Post, new
        {
            enctype = "multipart/form-data",
            id = "mainForm",
            @class = "form-horizontal edit-container-width"
        }))
        {
            <div class="form-group">
                <label class="col-sm-3 control-label">视频封面：</label>
                <div class="col-sm-9">
                    <img src="@Model.ImgUrl" id="imgPreview" style="width:80%;height:100px;border:1px solid #eee;" />
                    <input type="hidden" name="ImgUrl" value="@Model.ImgUrl" />
                    <a href="javascript:void(0)" onclick="$('#fileImg').click()" class="btn-link" style="position:relative;top:40px;">点击上传</a>
                    <input type='file' id='fileImg' name='fileImg' style='display:none;'>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">团队视频：</label>
                <div class="col-sm-9">
                    @if (!String.IsNullOrEmpty(Model.VideoUrl))
                    {
                        <a class="video-play" style="float:right; margin-right: 25px;" href="javascript:void(0)" data-video="@Model.VideoUrl">播放</a>
                    }
                    <input type="hidden" name="VideoUrl" value="@Model.VideoUrl" />
                    <input type='file' id='fileVideo' name='fileVideo'>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Instart简介：</label>
                <div class="col-sm-9">
                    <textarea name="Introduce" id="Introduce" rows="15">@Model.Introduce</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Instart团队：</label>
                <div class="col-sm-9">
                    <textarea name="Team" id="Team" rows="15">@Model.Team</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Instart发展：</label>
                <div class="col-sm-9">
                    <textarea name="Develop" id="Develop" rows="15">@Model.Develop</textarea>
                </div>
            </div>

            @*<div class="form-group">
                    <label class="col-sm-3 control-label">Pre To Pro：</label>
                    <div class="col-sm-9">
                        <textarea name="PreToPro" id="PreToPro" rows="10">@Model.PreToPro</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">跨学科教学：</label>
                    <div class="col-sm-9">
                        <textarea name="PassLearning" id="PassLearning" rows="10">@Model.PassLearning</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">WorkShop：</label>
                    <div class="col-sm-9">
                        <textarea name="WorkShop" id="WorkShop" rows="10">@Model.WorkShop</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">24小时工作室：</label>
                    <div class="col-sm-9">
                        <textarea name="Studio" id="Studio" rows="10">@Model.Studio</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">实习推荐：</label>
                    <div class="col-sm-9">
                        <textarea name="Recommand" id="Recommand" rows="10">@Model.Recommand</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">驻地项目：</label>
                    <div class="col-sm-9">
                        <textarea name="Programs" id="Programs" rows="10">@Model.Programs</textarea>
                    </div>
                </div>*@

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <input type="button" class="btn btn-primary" value="保存" onclick="save()" />
                </div>
            </div>
        }
        <div id="videoModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">视频预览</h4>
                    </div>
                    <div class="modal-body">
                        <video class="video-container" src="/i/movie.ogg" style="width:100%;height:400px;" controls="controls"></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Bottom{
    <script>
        $(function () {
            UE.getEditor('Introduce');

            UE.getEditor('Team');

            UE.getEditor('Develop');

            /*var preToPro = UE.getEditor('PreToPro', {
                autoHeight: false
            });

            var passLearning = UE.getEditor('PassLearning', {
                autoHeight: false
            });

            var workShop = UE.getEditor('WorkShop', {
                autoHeight: false
            });

            var studio = UE.getEditor('Studio', {
                autoHeight: false
            });

            var recommand = UE.getEditor('Recommand', {
                autoHeight: false
            });

            var programs = UE.getEditor('Programs', {
                autoHeight: false
            });*/

            $('#fileImg').change(function () {
                imagePreview(this.files[0], $("#imgPreview"));
            });

            $(".video-play").click(function () {
                var src = $(this).attr("data-video");
                if (src == "") {
                    layer.msg("视频地址为空");
                    return;
                }

                $(".video-container").attr("src", src);
                $("#videoModal").modal("show");
            });
        })

        function save() {
            $("#mainForm").ajaxSubmit({
                success: function (slt) {
                    if (slt && slt.success) {
                        layer.msg('保存成功');
                    }
                    else {
                        layer.msg(slt.message || '操作失败，请重试');
                    }
                }
            });
        }

    </script>
}

