@using Instart.Models
@model Instart.Models.Course
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--banner展示图-->
@Html.Partial("PartialBanner", Instart.Models.Enums.EnumBannerPos.Course)

<div class="maincont mct overflow">
    <!--课程介绍-->
    <div class="title">
        <h2>课程介绍</h2>
    </div>
    <div class="wen-left">
        <div class="course-item">
            <a href="#" class="cimg"><img src="@Model.Picture" alt="" /></a>
            <div class="c-guide">
                <p> <b>课程名称</b> <span>@Model.Name</span> </p>
            </div>
            <div class="c-infos"> @Html.Raw(Model.Introduce) </div>
            <div class="c-guide">
                <p> <b>针对人群</b></p>
            </div>
            <div class="c-infos"> @Html.Raw(Model.ForPeople) </div>
            <div class="c-yue"><a href="javascript:void(0)" onclick="order(@Model.Id)">课程预约</a></div>
        </div>
    </div>
    <div class="wen-right">
        <div class="claim comborder">
            <div class="comtitle">
                <dl>
                    <dt>课程过程</dt>
                    <dd>APPLICATION REQUEST</dd>
                </dl>
                <a href="javascript:void(0)" class="di" onclick="apply(@Model.Id)">课程咨询</a>
            </div>
            <div class="claimlist">
                @Html.Raw(Model.Process)
            </div>
        </div>
    </div>
</div>
<div class="maincont">
    <!--学员成果-->
    <div class="title topborder">
        <h2>学员成果</h2>
    </div>
    <div class="consequent">
        <div class="quent-img bd">
            <ul>
                @foreach (Works item in ViewBag.WorkList)
                {
                    <li><a href="#"><img src="@item.ImgUrl" /></a></li>
                }
            </ul>
        </div>
        <div class="hd">
            <a class="prev"></a>
            <ul></ul>
            <a class="next"></a>
        </div>
    </div>
    <!--成功学员-->
    <div class="title topborder">
        <h2>成功学员</h2>
    </div>
    <div class="chenggong padding30">
        <div class="success-people com-cont noborder bd">
            <ul>
                @foreach (Student item in ViewBag.StudentList)
                {
                    <li>
                        <div class="peoplecont">
                            <div class="top"><a href="/student/details/@item.Id"><i></i><img src="@item.Avatar" alt="" /></a></div>
                            <dl>
                                <dt><a href="/student/details/@item.Id">@item.Name</a></dt>
                                <dd class="pe1">录取专业：@item.MajorName</dd>
                                <dd class="pe2">offer：@item.SchoolName </dd>
                            </dl>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="hd mar-top">
            <a class="prev"></a>
            <ul></ul>
            <a class="next"></a>
        </div>
    </div>
</div>
@section Bottom
    {
    <script type="text/javascript">
        $(".chenggong").slide({ titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "left", autoPlay: false, scroll: 2, vis: 4, trigger: "click" });
        $(".consequent").slide({ titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "left", autoPlay: false, vis: 1, trigger: "click" });

        function apply(id) {
            layer.open({
                type: 2,
                title: '课程咨询',
                shadeClose: true,
                shade: 0.8,
                area: ['800px', '430px'],
                content: '/course/courseapply?id=' + id //iframe的url
            });
        }

        function order(id) {
            layer.open({
                type: 2,
                title: '课程预约',
                shadeClose: true,
                shade: 0.8,
                area: ['800px', '430px'],
                content: '/course/courseorder?id=' + id //iframe的url
            });
        }
    </script>
}
