@using Instart.Models
@using Instart.Web2.Infrastructures
@model Instart.Models.School
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--banner展示图-->
<div class="banner">
    <div class="neitu"><img src="@Model.BannerImg" alt="" /></div>
    <div class="ban-collage">
        <div class="s-name" style="background-color:#f2f2f2">
            <div class="s-name-left">
                <dl>
                    <dt>@Model.Name</dt>
                    <dd>@Model.NameEn</dd>
                    <p><span class="glaxfont">申请难度：</span>@Model.Difficult</p>
                    <p><div id="stars" style="width:100%" flag="@Model.Difficult"></div></p>
                    <p><span class="glaxfont">录取比例：</span>@(Model.AcceptRate + "%")</p>
                </dl>
            </div>
            <div class="s-name-right"><a href="#"><img src="@Model.Logo" alt="" /></a></div>
        </div>
        <div class="collshen"><a href="javascript:void(0)" onclick="apply(@Model.Id)">申请咨询</a></div>
    </div>
</div>
<div class="maincont">
    <!--院校背景-->
    <div class="title">
        <h2>院校背景</h2>
    </div>
    <div class="coll-background overflow">
        <div class="coll-back-left fl">
            <div class="coll-info detton">
                <p><span><i class="glaxfont">国家:</i> @Model.Country.GetDescription()</span><span><i class="glaxfont">留学预算:</i> @Model.Fee</span><span><i class="glaxfont">平均奖学金:</i> @Model.Scholarship</span></p>
                <p><span><i class="glaxfont">申请截止日期:</i> @Model.LimitDate</span></p>
                <p><span><i class="glaxfont">语言要求:</i> @Model.Language</span></p>
                <p><span><i class="glaxfont">优势专业:</i> @Model.RecommendMajor</span></p>
            </div>
            <div class="coll-info detton">
                <p><span><i class="glaxfont">学校性质:</i> @(Model.Type == 0 ? "公立" : "私立")</span><span><i class="glaxfont">建校时间:</i>@Model.CreateYear</span></p>
                <p><span><i class="glaxfont">学校地址:</i> @Model.Address</span></p>
                <p><span><i class="glaxfont">学校网址:</i> <a href="@Model.WebSite" target="_blank" style="color:#0000ff">@Model.WebSite</a></span></p>
                <p><span><i class="glaxfont">知名校友:</i> @Model.OldBoy</span></p>
            </div>
        </div>
        <div class="coll-back-right fr">
            <div class="coll-duction detton">
                <dl>
                    <dt>简介</dt>
                    <dd>
                        @Model.Introduce
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <!--院校详情-->
    <div class="title">
        <h2>院校详情</h2>
    </div>
    <div class="collmeun overflow">
        <p><a href="javascipt:;" class="active">院校专业</a><a href="javascipt:;">申请要求</a><a href="javascipt:;">学费明细</a></p>
    </div>
    <div class="collmeunborder">
        <div class="collmeuncont overflow">
            <div class="coll-left fl">
                <dl class="colldl">
                    <dt>
                        <div class="c-title">本科生</div>
                    </dt>
                    <dd>
                        @foreach (SchoolMajor item in ViewBag.MajorBkList)
                        {
                            <p><a href="@("#here" + item.MajorId)"><b>·</b>@item.MajorName</a></p>
                        }
                    </dd>
                    <dt>
                        <div class="c-title">研究生</div>
                    </dt>
                    <dd>
                        @foreach (SchoolMajor item in ViewBag.MajorYjsList)
                        {
                            <p><a href="@("#here" + item.MajorId)"><b>·</b>@item.MajorName</a></p>
                        }
                    </dd>
                </dl>
            </div>
            <div class="coll-right fr">
                <div class="c-title">本科生</div>
                <div class="monys">
                    @foreach (SchoolMajor item in ViewBag.MajorBkList)
                    {
                    <p id="@("here"+item.MajorId)">
                        @item.MajorName<br />
                        @item.Introduce
                    </p>
                    }
                </div>
                <div class="c-title">研究生</div>
                <div class="monys">
                    @foreach (SchoolMajor item in ViewBag.MajorYjsList)
                    {
                        <p id="@("here"+item.MajorId)">
                            @item.MajorName<br />
                            @item.Introduce
                        </p>
                    }
                </div>
            </div>
        </div>
        <div class="collmeuncont overflow hide">
            <div class="coll-left fl">
                <dl class="colldl">
                    <dt>
                        <div class="c-title">本科生</div>
                    </dt>
                    <dd>
                        @foreach (SchoolMajor item in ViewBag.MajorBkList)
                        {
                            <p><a href="#"><b>·</b>@item.MajorName</a></p>
                        }
                    </dd>
                    <dt>
                        <div class="c-title">研究生</div>
                    </dt>
                    <dd>
                        @foreach (SchoolMajor item in ViewBag.MajorYjsList)
                        {
                            <p><a href="#"><b>·</b>@item.MajorName</a></p>
                        }
                    </dd>
                </dl>
            </div>
            <div class="coll-right fr">
                <div class="c-title">申请要求</div>
                <div class="monys">
                    @Html.Raw(Model.ApplyCondition)
                </div>
            </div>
        </div>
        <div class="collmeuncont overflow hide">
            <div class="coll-left fl">
                <dl class="colldl">
                    <dt>
                        <div class="c-title">本科生</div>
                    </dt>
                    <dd>
                        @foreach (SchoolMajor item in ViewBag.MajorBkList)
                        {
                            <p><a href="#"><b>·</b>@item.MajorName</a></p>
                        }
                    </dd>
                    <dt>
                        <div class="c-title">研究生</div>
                    </dt>
                    <dd>
                        @foreach (SchoolMajor item in ViewBag.MajorYjsList)
                        {
                            <p><a href="#"><b>·</b>@item.MajorName</a></p>
                        }
                    </dd>
                </dl>
            </div>
            <div class="coll-right fr">
                <div class="c-title">学费明细</div>
                <div class="monys">
                    @Html.Raw(Model.Moneys)
                </div>
            </div>
        </div>
    </div>
    <!--院校成功学员-->
    <div class="title">
        <h2>院校成功学员</h2>
    </div>
    <div class="success-people com-cont">
        <ul>
            @foreach (Student item in ViewBag.SchoolStudents)
            {
                <li>
                    <div class="peoplecont">
                        <div class="top"><a href="/student/details/@item.Id"><i></i><span>@item.Motto</span><img src="@item.Avatar" alt="" /></a></div>
                        <dl>
                            <dt><a href="#">@item.Name</a></dt>
                            <dd class="pe1">录取专业：@item.MajorName</dd>
                            <dd class="pe2">offer：@item.SchoolNameEn @item.SchoolName </dd>
                        </dl>
                    </div>
                </li>
            }
        </ul>
    </div>
    <!--课程推荐-->
    @Html.Partial("PartialRecommendCourse")
</div>
@section Bottom{
    <script type="text/javascript">
        $(function () {
            //学员座右铭
            $(".peoplecont").hover(function () {
                $(this).find('span').addClass('aflex');
            }, function () {
                $(this).find('span').removeClass('aflex');
            })
            //院校详情
            $(".collmeun").on("click", 'a', function () {
                var len = $(this).index();
                $(this).addClass("active").siblings().removeClass("active");
                $(".collmeuncont").eq(len).show().siblings('.collmeuncont').hide()
            })

            //申请难度星星
            $("#stars").raty({
                number: 5, //多少个星星设置
                score: $("#stars").attr('flag'),
                targetType: 'number', //类型选择，number是数字值，hint，是设置的数组值
                path: '../../content/images',
                size: 24,
                starHalf: 'star-half.png',
                starOff: 'star-off.png',
                starOn: 'star-on.png',
                precision: true, //是否包含小数
                readOnly: true
            });
        })

        function apply(id) {
            layer.open({
                type: 2,
                title: '申请咨询',
                shadeClose: true,
                shade: 0.8,
                area: ['800px', '430px'],
                content: '/school/schoolapply?id=' + id //iframe的url
            });
        }
    </script>
}

