@using Instart.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <style type="text/css">
        .search-selected{
            color:#0000ff !important;
        }
    </style>
}

<!--banner展示图-->
<div class="banner">
    <ul class="lubo_box">
        @foreach (Banner item in ViewBag.BannerList)
        {
            if (item.Type == Instart.Models.Enums.EnumBannerType.Image)
            {
                <li><a style="background:url(@item.ImageUrl) center top no-repeat"></a></li>
            }
            else if (item.Type == Instart.Models.Enums.EnumBannerType.Video)
            {
                <li style=" opacity: 1;filter:alpha(opacity=100);">
                    <a href="" style="background:url(@item.ImageUrl) center top no-repeat">
                        <video autoplay="autoplay" muted="muted" loop="loop" poster="@item.ImageUrl" title="">
                            <source class="video--mp4" src="@item.VideoUrl" type="video/mp4">
                        </video>
                    </a>
                </li>
            }
        }
    </ul>
</div>

<!--院校搜索-->
<div class="maincont" id="maincont">
    <div class="coll-search">
        <h2>院校搜索</h2>
        <div class="soso">
            <input type="text" placeholder="院校名称" class="soinput" name="keyword" id="keyword" />
            <button type="button" class="sobutton" onclick="search()">搜索</button>
        </div>
        <div class="hotsearch">
            <span>热门搜索：</span>
            @foreach (School item in ViewBag.HotList)
            {
                <a href="/school/details/@item.Id">@item.Name</a>
            }
        </div>
    </div>
    <!--条件搜索-->
    <div class="conditie">
        <dl>
            <dt>国家：</dt>
            <dd class="dd-country">
                <a href="javascript:void(0)" class="search-selected" data-id="-1">全部</a>
                @foreach (Instart.Common.EnumberEntity item in ViewBag.CountryList)
                {
                    <a href="javascript:void(0)" data-id="@item.EnumValue">@item.Description</a>
                }
            </dd>
        </dl>
        <dl>
            <dt>学历：</dt>
            <dd class="dd-level">
                <a href="javascript:void(0)" class="search-selected" data-id="-1">全部</a>
                <a href="javascript:void(0)" data-id="1">本科</a>
                <a href="javascript:void(0)" data-id="2">硕士</a>
            </dd>
        </dl>
        <dl>
            <dt>专业：</dt>
            <dd class="dd-major">
                <a href="javascript:void(0)" class="search-selected">全部</a>
                @foreach (Major item in ViewBag.MajorList)
                {
                    <a href="javascript:void(0)" data-id="@item.Id">@item.Name</a>
                }
            </dd>
        </dl>
    </div>
    <!--院校情况-->
    <div class="school com-cont noborder">
    </div>
    <div class="pagelist pagenum">
    </div>
    <!--课程推荐-->
    <div class="title">
        <h2>课程推荐</h2>
        <a href="/course" class="more">查看全部&gt;&gt;</a>
    </div>
    <div class="recommend com-cont">
        <ul>
            @foreach (Course item in ViewBag.CourseList)
            {
                <li>
                    <div class="recimg">
                        <a href="/course/details/@item.Id">
                            <i></i>
                            <p>@item.Introduce</p>
                            <img src="@item.Picture" alt="@item.Name" />
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
@section Bottom{
    <script type="text/javascript">
        $(function () {
            search();
            $('.pagelist').on('click', 'li a', function () {
                var page = $(this).attr("rel");
                if (page) {
                    search(page);
                }
            });
                      
            $(".dd-country > a,.dd-level > a,.dd-major > a").click(function () {
                $(this).addClass("search-selected").siblings("a").removeClass("search-selected");
                search();
            });
        });

        function search(page) {
            page = page || 1;
            var keyword = $("#keyword").val();
            var country = $(".dd-country > a.search-selected").attr("data-id");
            var major = $(".dd-major > a.search-selected").attr("data-id");
            var level = $(".dd-level > a.search-selected").attr("data-id");
            getData(page, keyword, country, major, level);
        }

        function getData(page, keyword, country, major, level) {
            $.ajax({
                url: '/school/getschoollist',
                type: 'POST',
                data: { pageIndex: page, keyword: keyword, country: country, major: major },
                success: function (slt) {
                    var html = '<ul>';
                    if (slt.data.list != null) {
                        for (var index in slt.data.list) {
                            var item = slt.data.list[index];
                            var country = "";
                            switch (item.Country) {
                                case '0':
                                    country = "英国";
                                    break;
                                case '1':
                                    country = "美国";
                                    break;
                                case '2':
                                    country = "欧洲";
                                    break;
                                case '3':
                                    country = "亚洲";
                                    break;
                                case '9':
                                    country = "其他";
                                    break;
                            }
                            html += '<li><div class="school-cont">';
                            html += '<div class="top"><a href="/school/details/' + item.Id + '"><i></i><img src="' + item.Avatar + '" alt="" /></a></div>';
                            html += '<div class="s-name"><div class="s-name-left"><dl>';
                            html += '<dt>' + item.Name + '</dt><dd>' + item.NameEn + '</dd><p><span class="glaxfont">申请难度：</span>' + item.Difficult + '</p>';
                            html += '<p><div class="stars" style="width:100%" flag="' + item.Difficult + '"></div></p>';
                            html += '<p><span class="glaxfont">录取比例：</span>' + item.AcceptRate + '%</p></dl></div>';
                            html += '<div class="s-name-right"><a href="/school/details/' + item.Id + '"><img src="' + item.Logo + '" alt="" /></a></div></div>';
                            html += '<div class="yuanxiao">';
                            html += '<p><span><i class="glaxfont">国家:</i> ' + country + '</span><i class="glaxfont">留学预算:</i>' + item.Fee + '</span><span><i class="glaxfont"> &nbsp;平均奖学金:</i>' + item.Scholarship + '</span></p>';
                            html += '<p><span><i class="glaxfont">申请截止日期:</i> ' + item.LimitDate + '</p>';
                            html += '<p><span><i class="glaxfont">语言要求:</i> ' + item.Language + '</p>';
                            html += '<p><span><i class="glaxfont">优势专业:</i> ' + item.RecommendMajor + '</span></p>';
                            html += '<div class="morea"><a href="/school/details/' + item.Id + '">院校详情</a></div>';
                            html += '</div>';
                            html += '</div></li>';
                        }
                    }
                    html += '</ul>';
                    $('.school').html(html);
                    getPageBar(page, slt.data.totalPage, $('.pagelist'));

                    //申请难度特效
                    $('.stars').each(function (i, n) {
                        $(this).raty({
                            number: 5, //多少个星星设置
                            score: $(this).attr('flag'),
                            targetType: 'number', //类型选择，number是数字值，hint，是设置的数组值
                            path: 'content/images',
                            size: 24,
                            starHalf: 'star-half.png',
                            starOff: 'star-off.png',
                            starOn: 'star-on.png',
                            precision: true, //是否包含小数
                            readOnly: true
                        });
                    });
                },
                error: function () {
                    
                }
            });
        }
    </script>
}

