@using Instart.Models
@model Major
@{
    ViewBag.Title = "专业详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--banner展示图-->
<div class="banner">
    <ul class="lubo_box">
        @foreach (Banner item in ViewBag.BannerList)
        {
            if (item.Type == Instart.Models.Enums.EnumBannerType.Image)
            {
                <li><a style="background:url(@item.ImageUrl) center top no-repeat"></a></li>
            }
            else if (item.Type == Instart.Models.Enums.EnumBannerType.Video)
            {
                <li style=" opacity: 1;filter:alpha(opacity=100);">
                    <a href="" style="background:url(@item.ImageUrl) center top no-repeat">
                        <video autoplay="autoplay" muted="muted" loop="loop" poster="https://storage.googleapis.com/tate-digital/videos/winifred-knights/the-deluge.jpg" title="">
                            <source class="video--mp4" src="@item.VideoUrl" type="video/mp4">
                        </video>
                    </a>
                </li>
            }
        }
    </ul>
    <ul class="cir_box" style="left: 50%; margin-left: -40px; bottom: 3%;"><li style="" value="0" class=""></li><li style="" value="1" class="cir_on"></li></ul><div class="lubo_btn"></div>
</div>

<div class="maincont contpage overflow">
    <!--文章详情-->
    <div class="wen-left">
        <div class="list-cont list-left">
            <div class="top"><a href="#"><i></i><img src="@Model.ImgUrl" alt="" /></a></div>
            <dl>
                <dt><a href="#"><strong>@Model.Name</strong><small>@Model.NameEn</small></a></dt>
                <dd class="teac-m">@Model.Introduce</dd>
                <dd class="teac-b">@(Model.DivisionName) @(Model.DivisionNameEn)</dd>
            </dl>
        </div>
        <div class="list-cont list-left">
            <dl>
                <dt><a href="#"><strong>就业前景</strong><small>EMPLOYMENT PROSPECTS</small></a></dt>
                <dd class="teac-m" style="border-bottom:0;"> @Model.Prospect</dd>
            </dl>
        </div>
    </div>
    <div class="wen-right">
        <div class="claim comborder">
            <div class="comtitle">
                <dl>
                    <dt>申请要求</dt>
                    <dd>APPLICATION REQUEST</dd>
                </dl>
                <a href="#" class="di">申请咨询</a>
            </div>
            <div class="claimlist">
                @Html.Raw(Model.Apply)
            </div>
        </div>
        <div class="comborder">
            <div class="comtitle">
                <dl>
                    <dt>专业作品</dt>
                    <dd>SUBJECT WORKS</dd>
                </dl>
                <a href="#" class="di">作品评析</a>
            </div>
            <div class="workcont">
                @foreach (Works item in ViewBag.WorkList)
                {
                    <dl>
                        <dt><a href="#"><img src="@item.ImgUrl" alt="@item.Name" /></a></dt>
                        <dd>
                            @item.Introduce
                        </dd>
                    </dl>
                }
            </div>
        </div>
    </div>
</div>

<div class="maincont" style="border-top:1px dotted #bebebe">
    <!--名校推荐-->
    <div class="title">
        <h2>名校推荐</h2>
        <a href="#" class="more">查看全部&gt;&gt;</a>
    </div>
    <div class="school com-cont noborder">
        <ul>
            @foreach (School item in ViewBag.SchoolList)
            {
                <li>
                    <div class="school-cont">
                        <div class="top"><a href="/school/details/@item.Id"><i></i><img src="@item.Avatar" alt="" /></a></div>
                        <div class="s-name">
                            <div class="s-name-left">
                                <dl>
                                    <dt>@item.Name</dt>
                                    <dd>@item.NameEn</dd>
                                    <p><span class="glaxfont">申请难度：</span>@item.Difficult</p>
                                    <p><div class="stars" style="width:100%" flag="@item.Difficult"></div></p>
                                    <p><span class="glaxfont">录取比例：</span>@(item.AcceptRate + "%")</p>
                                </dl>
                            </div>
                            <div class="s-name-right"><a href="/school/details/@item.Id"><img src="@item.Logo" alt="" /></a></div>
                        </div>
                        <div class="yuanxiao">
                            <p><span><i class="glaxfont">国家:</i> @item.Country</span><span><i class="glaxfont">留学预算:</i> @item.Fee</span><span><i class="glaxfont">平均奖学金:</i> @item.Scholarship</span></p>
                            <p><span><i class="glaxfont">申请截止日期:</i> @item.LimitDate</span></p>
                            <p><span><i class="glaxfont">语言要求:</i> @item.Language</span></p>
                            <p><span><i class="glaxfont">优势专业:</i> @item.RecommendMajor</span></p>
                            <div class="morea"><a href="/school/details/@item.Id">院校详情</a></div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

@section Bottom{
    <script type="text/javascript">
        $(function () {
            //申请难度特效
            $('.stars').each(function (i, n) {
                $(this).raty({
                    number: 5, //多少个星星设置
                    score: $(this).attr('flag'),
                    targetType: 'number', //类型选择，number是数字值，hint，是设置的数组值
                    path: '../../content/images',
                    size: 24,
                    starHalf: 'star-half.png',
                    starOff: 'star-off.png',
                    starOn: 'star-on.png',
                    precision: true, //是否包含小数
                    readOnly: true
                });
            });
        })
    </script>
}