@using Instart.Models
@{
    ViewBag.Title = "艺术专业";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--banner展示图-->
@Html.Partial("PartialBanner", Instart.Models.Enums.EnumBannerPos.Major)

<div class="maincont">
    <div class="pagemeun">
        @foreach (Division item in ViewBag.DivisionList)
        {
            if (item.Id == ViewBag.DivisionId)
            {
                <p class="active" style="border-bottom:4px solid @item.BgColor;"><a href="/major/index/@item.Id">@item.Name</a></p>
            }
            else
            {
                <p style="border-bottom:4px solid @item.BgColor;"><a href="/major/index/@item.Id">@item.Name</a></p>
            }
        }
    </div>

    <div class="neilist">
        <div class="wenlist com-cont"></div>
        <div class="pagelist"></div>
    </div>
</div>

@section Bottom{
    <script src="~/content/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(".interlist").slide({ titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "left", autoPlay: true, vis: 2, trigger: "click" });
        $(".chenggong").slide({ titCell: ".hd ul", mainCell: ".bd .ulWrap", autoPage: true, effect: "leftLoop", autoPlay: false, scroll: 2, vis: 4 });
        $(".toegeven").slide({ titCell: ".hd ul", mainCell: ".bd .ulWrap", autoPage: true, effect: "leftLoop", autoPlay: false, vis: 2 });
        $(function () {
            getData(1);
            $('.pagelist').on('click', 'li a', function () {
                var rel = $(this).attr("rel");
                if (rel) {
                    getData(rel);
                }
            });
        });

        function getData(page) {
            $.ajax({
                url: '/major/getmajorlist',
                type: 'POST',
                data: { divisionId: "@ViewBag.DivisionId", pageIndex: page },
                success: function (slt) {
                    var html = '<ul>';
                    if (slt.data.list != null) {
                        for (var index in slt.data.list) {
                            var item = slt.data.list[index];
                            html += '<li><div class="list-cont">';
                            html += '<div class="top"><a href="/major/details/' + item.Id + '"><i></i><img src="' + item.ImgUrl + '" alt="' + item.Name + '" /></a></div>';
                            html += '<dl>';
                            html += '<dt><a href="/major/details/'+item.Id+'"><strong>'+item.Name+'</strong><small>'+(item.NameEn || '')+'</small></a></dt>';
                            html += '<dd class="teac-m">'+ item.Introduce +'</dd>';
                            html += '<dd class="teac-b"><i style="display:inline-block; width:8px; height:8px; border-radius:50%; background:' + item.DivisionColor +'; margin-right:6px;"></i>' + item.DivisionName + " " + (item.DivisionNameEn || '') + '</dd>';
                            html += '</dl>';
                            html += '</div></li>';
                        }
                    }
                    html += '</ul>';
                    $('.wenlist').html(html);
                    getPageBar(page, slt.data.totalPage, $('.pagelist'));
                },
                error: function () {
                    layer.msg("数据加载失败");
                }
            });
        }
    </script>
}




