@using Instart.Models
@model List<Company>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFeature.cshtml";
}

<div class="maincont padding30 overflow">
    <div class="course-info com-cont" id="main">
        <ul>
            @foreach (Company item in Model)
            {
                <li>
                    <div class="course-item">
                        <a href="/about/companydetail/@item.Id" class="cimg"><img src="@item.ImgUrl" alt="" /></a>
                        <div class="c-guide">
                            <p> <b><a href="/about/companydetail/@item.Id">@item.Name</a></b> <span>@item.NameEn</span> </p>

                        </div>
                        <div class="c-infos">@Html.Raw(item.Introduce) </div>
                        <div class="c-guide">
                            <p> <b>招聘职务</b> </p>
                        </div>
                        <div class="c-infos"> @item.Postions</div>
                        <div class="c-yue"><a href="javascript:void(0)" onclick="companyOrder(@item.Id)">实习预约</a></div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
<!--实习单位环境/作品 轮播图-->
<div class="workbo">
    <div class="bd">
        <ul>
            @foreach (Company item in Model)
            {
                if (!String.IsNullOrEmpty(item.Environment))
                {
                    <li>
                        <a href="javascript:void(0)"><img src="@item.Environment" /></a>
                    </li>
                }
                if (!String.IsNullOrEmpty(item.Works))
                {
                    <li>
                        <a href="javascript:void(0)"><img src="@item.Works" /></a>
                    </li>
                }
            }

        </ul>
    </div>
    <div class="hd">
        <a class="prev"></a>
        <a class="next"></a>
    </div>
</div>
<script src="/content/js/pubu.js" type="text/javascript"></script>
<script>
    window.onload = function () {
        water("main");
        $(".workbo").slide({ titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "left", autoPlay: false, vis: 1, trigger: "click" });
    }

    function companyOrder(id) {
        window.parent.companyOrder(id);
    }
</script>


