@using Instart.Models
@model Company

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFeature.cshtml";
}

<div class="maincont padding30 overflow">
    <div class="xue-left fl">
        <div class="course-item">
            <a href="#" class="cimg"><img src="@Model.ImgUrl" alt="" /></a>
            <div class="c-guide">
                <p> <b>@Model.Name</b> <span>@Model.NameEn</span> </p>
            </div>
            <div class="c-infos"> @Model.Introduce </div>
            <div class="c-guide">
                <p> <b>招聘职务</b> </p>
            </div>
            <div class="c-infos"> @Model.Postions</div>
            <div class="c-yue"><a href="javascript:void(0)" onclick="companyOrder(@Model.Id)">实习预约</a></div>
        </div>
    </div>

    <div class="xue-right fr">
        <div class="claimlist">
            @Html.Raw(Model.Details)
        </div>
    </div>
</div>
<script type="text/javascript">
    function companyOrder(id) {
        window.parent.companyOrder(id);
    }
</script>
