@using Instart.Models
@model Instart.Models.AboutInstart
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--banner展示图-->
<div class="banner">
    <ul class="lubo_box">
        <li style="opacity: 1;filter:alpha(opacity=100);"><a style="background:url(@ViewBag.BannerUrl) center top no-repeat"></a></li>
    </ul>
</div>
<div class="maincont">
    <!--团队视频-->
    <div class="title">
        <h2>团队视频</h2>
    </div>
    <div class="teamvideo">
        <video controls="controls" poster="@Model.ImgUrl" src="@Model.VideoUrl" title=""></video>
    </div>
    <div class="title">
        <h2>关于Instart</h2>
    </div>
    <div class="borderkuan">
        <!--Instart XXXX-->
        <div class="inlist">
            <h2>Instart XXXX</h2>
        </div>
        <div class="inconts">
            @Html.Raw(Model.Introduce)
        </div>
        <!--Instart 团队-->
        <div class="inlist">
            <h2>Instart 团队</h2>
        </div>
        <div class="inconts">
            @Html.Raw(Model.Team)
        </div>
        <!--Instart 发展-->
        <div class="inlist">
            <h2>Instart 发展</h2>
        </div>
        <div class="inconts">
            @Html.Raw(Model.Develop)
        </div>
    </div>
    <!--Instart 特色-->
    <div class="title">
        <h2>Instart 特色</h2>
    </div>
    <div class="tese com-cont">
        <ul>
            <li>
                <div class="teseimg"><a href="/about/program?type=1"><img src="@Model.PreToProImg" alt="" /><b>Pre to Pro</b></a></div>
            </li>
            <li>
                <div class="teseimg"><a href="/about/division"><img src="@Model.DivisionImg" alt="" /><b>学部制度</b></a></div>
            </li>
            <li>
                <div class="teseimg"><a href="/about/teach"><img src="@Model.PassLearningImg" alt="" /><b>跨学科教学</b></a></div>
            </li>
            <li>
                <div class="teseimg"><a href="/about/program/?type=2"><img src="@Model.WorkShopImg" alt="" /><b>Workshop</b></a></div>
            </li>
            <li>
                <div class="teseimg"><a href="/about/studio"><img src="@Model.StudioImg" alt="" /><b>24小时工作室</b></a></div>
            </li>
            <li>
                <div class="teseimg"><a href="/about/company"><img src="@Model.CompanyImg" alt="" /><b>实习推荐</b></a></div>
            </li>
            <li>
                <div class="teseimg"><a href="/about/program/?type=3"><img src="@Model.ActorImg" alt="" /><b>艺术家孵化平台</b></a></div>
            </li>
            <li>
                <div class="teseimg"><a href="/about/program/?type=4"><img src="@Model.ProgramsImg" alt="" /><b>驻地项目</b></a></div>
            </li>
        </ul>
    </div>
    <!--课程推荐-->
    @Html.Partial("PartialRecommendCourse")
</div>

