@using Instart.Models
@model List<Program>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFeature.cshtml";
}

<div class="course-info com-cont" id="main">
    <ul>
        @foreach (var item in Model)
        {
            <li style="position:relative;">
                <div class="course-item">
                    <a href="/about/show/@item.Id" class="cimg"><img src="@item.Picture" alt="" /></a>
                    <div class="c-guide">
                        <p> <b>@item.Name</b> <span>@item.NameEn</span> </p>
                    </div>
                    <div class="c-infos">@item.Introduce</div>
                     <div class="c-yue"><a href="javascript:void(0)" onclick="apply(@item.Id)">项目咨询</a></div>
                </div>
            </li>
        }
    </ul>
</div>

    <script>
        window.onload = window.onresize = function () {
            water("main");
        }

        function apply(id) {
            layer.open({
                type: 2,
                title: '项目咨询',
                shadeClose: true,
                shade: 0.8,
                area: ['800px', '430px'],
                content: '/about/programapply?id=' + id //iframe的url
            });
        }
    </script>