@using Instart.Models
@model List<Program>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFeature.cshtml";
}
<div class="maincont">
    <div class="course-info com-cont" id="main">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <div class="course-item">
                        <a href="/about/show/@item.Id" class="cimg"><img src="@item.Picture" alt="" /></a>
                        <div class="c-guide">
                            <p> <b><a href="/about/show/@item.Id">@item.Name</a></b> <span>@item.NameEn</span> </p>
                        </div>
                        <div class="c-infos">@item.Introduce</div>
                        <div class="c-yue"><a href="javascript:void(0)" onclick="programApply(@item.Id)">项目咨询</a></div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
<script src="/content/js/pubu.js" type="text/javascript"></script>
<script>
    window.onload = function () {
        water("main");
    }

    function programApply(id) {
        window.parent.programApply(id);
    }
</script>
