@using Instart.Models
@model Program

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_LayoutFeature.cshtml";
}
<div class="maincont padding30 overflow">
    <div class="xue-left fl">
        <div class="course-item">
            <a href="#" class="cimg"><img src="@Model.Picture" alt="" /></a>
            <div class="c-guide">
                <p> <b>项目名称</b> <span>@Model.Name</span> </p>

            </div>
            <div class="c-infos">@Model.Introduce</div>
            <div class="c-yue"><a href="javascript:void(0)" onclick="programApply(@Model.Id)">项目咨询</a></div>
        </div>
    </div>
    <div class="xue-right fr">
        <div class="claimlist">
            @Html.Raw(Model.Details)
        </div>
    </div>
</div>
    <script type="text/javascript">
        function programApply(id) {
            window.parent.programApply(id);
        }
    </script>
