@using Instart.Models
@using Instart.Web2.Infrastructures
@model Instart.Models.Studio

@{
    ViewBag.Title = "24小时工作";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.Partial("PartialFeature")
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding-top:75px;">
        <ol class="breadcrumb">
            <li><a href="#">24小时工作室</a></li>
        </ol>

        @using (Html.BeginForm("Set", "Studio", new
        {
            area = "Manage"
        }, FormMethod.Post, new
        {
            enctype = "multipart/form-data",
            id = "mainForm",
            @class = "form-horizontal edit-container-width",
            style = "width:800px !important"
        }))
        {
            <div class="form-group">
                <label class="col-sm-2 control-label">名称：</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">英文名：</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.NameEn, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">图片：</label>
                <div class="col-sm-10">
                    <img src="@Model.ImgUrl" id="studioPreview" style="width:80%;height:200px;border:1px solid #eee;" />
                    <input type="hidden" name="ImgUrl" value="@Model.ImgUrl" />
                    <a href="javascript:void(0)" onclick="$('#fileStudio').click()" class="btn-link" style="position:relative;top:90px;">点击上传</a>
                    <input type='file' id='fileStudio' name='fileStudio' style='display:none;'>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">简介：</label>
                <div class="col-sm-10">
                    <textarea name="Introduce" id="Introduce" rows="15" class="form-control">@Model.Introduce</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">详情：</label>
                <div class="col-sm-10">
                    <textarea name="Details" id="Details" style="height:400px;">@Html.Raw(Model.Details)</textarea>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="button" class="btn btn-success" value="保存" onclick="save()" />
                    <input type="button" class="btn btn-default" value="设置工作环境" onclick="setImgs()" />
                </div>
            </div>
        }
    </div>
</div>

@section Bottom{
    <script>
        $(function () {
            UE.getEditor('Details');

            $('#fileStudio').change(function () {
                imagePreview(this.files[0], $("#studioPreview"));
            });
        })

        function save() {
            $("#mainForm").ajaxSubmit({
                success: function (slt) {
                    if (slt && slt.success) {
                        layer.msg('保存成功');
                    }
                    else {
                        layer.msg(slt.message || '操作失败，请重试');
                    }
                }
            });
        }

        function setImgs() {
            location.href = '@Url.Action("imgindex", "studio", new { area="manage" })';
        }
    </script>
}

