@using Instart.Models
@using Instart.Web.Infrastructures
@model Instart.Models.Major

@{
    ViewBag.Title = "专业设置";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/manage/major">专业管理</a></li>
    <li class="active">@ViewBag.Action</li>
</ol>

@using (Html.BeginForm("Set", "Major", new { area = "Manage" }, FormMethod.Post, new { enctype = "multipart/form-data", id = "mainForm", @class = "form-horizontal edit-container-width" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <label class="col-sm-2 control-label">专业名称：</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">英文名：</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.NameEn, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">专业图片：</label>
        <div class="col-sm-10">
            <img src="@Model.ImgUrl" id="majorPreview" style="width:80%;height:200px;border:1px solid #eee;" />
            <input type="hidden" name="ImgUrl" value="@Model.ImgUrl" />
            <a href="javascript:void(0)" onclick="$('#fileMajor').click()" class="btn-link" style="position:relative;top:90px;">点击上传</a>
            <input type='file' id='fileMajor' name='fileMajor' style='display:none;'>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">专业描述：</label>
        <div class="col-sm-10">
            <textarea name="Introduce" id="Introduce" rows="10" class="form-control">@Model.Introduce</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">就业前景：</label>
        <div class="col-sm-10">
            <textarea name="Prospect" id="Prospect" rows="10" class="form-control">@Model.Prospect</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">申请要求：</label>
        <div class="col-sm-10">
            <textarea name="Apply" id="Apply" rows="10">@Model.Apply</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">专业类型：</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.Type, @ViewBag.typeList as IEnumerable<SelectListItem>)
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">所属学部：</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.DivisionId, @ViewBag.divisionList as IEnumerable<SelectListItem>)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="button" class="btn btn-primary" value="提交" onclick="save()" />
        </div>
    </div>
}


@section Bottom{
    <script>
        var apply = UE.getEditor('Apply', {
            autoHeight: false
        });

        function save() {
            var name = $("input[name='Name']").val();
            if (name == '') {
                layer.msg('专业名称不能为空。');
                return;
            }
            $("#mainForm").ajaxSubmit({
                success: function (slt) {
                    if (slt && slt.success) {
                        location.href = '@Url.Action("index", "major", new { area="manage"})';
                    }
                    else {
                        layer.msg(slt.message || '操作失败，请重试。');
                    }
                }
            });
        }

        $('#fileMajor').change(function () {
            imagePreview(this.files[0], $("#majorPreview"));
        });

    </script>
}

