@using Instart.Models
@model Instart.Models.Teacher

@{
    ViewBag.Title = "导师设置";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/manage/teacher">艺术导师</a></li>
    <li class="active">@ViewBag.Action</li>
</ol>

<form class="form-horizontal edit-container-width" id="mainForm" method="post" target="_self" action="/manage/teacher/set" enctype="multipart/form-data">

    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="form-group">
        <label class="col-sm-2 control-label">导师名称：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Name" value="@Model.Name">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">英文名：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="NameEn" value="@Model.NameEn">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">头像：</label>
        <div class="col-sm-10">
            <img src="@Model.Avatar" id="avatarPreview" style="width:200px;height:200px;border:1px solid #eee;" />
            <input type="hidden" name="Avatar" value="@Model.Avatar" />
            <a href="javascript:void(0)" onclick="$('#fileAvatar').click()" class="btn-link" style="position:relative;top:90px;">点击上传</a>
            <input type='file' id='fileAvatar' name='fileAvatar' style='display:none;'>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">所属学部：</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.DivisionId, @ViewBag.DivisionList as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">院校背景：</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.SchoolId, @ViewBag.SchoolList as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">专业：</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.MajorId, @ViewBag.MajorList as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">导师荣誉：</label>
        <div class="col-sm-10">
            <textarea name="Introduce" id="Introduce" rows="10" class = "form-control">@Model.Introduce</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="button" class="btn btn-primary" value="提交" onclick="save()" />
        </div>
    </div>
</form>

<script>
    function save() {
            var name = $("input[name='Name']").val();
            if (name == '') {
                layer.msg('导师名称不能为空。');
                return;
            }
            $("#mainForm").ajaxSubmit({
                success: function (slt) {
                    if (slt && slt.success) {
                        location.href = '@Url.Action("index", "teacher", new { area="manage"})';
                    }
                    else {
                        layer.msg(slt.message || '操作失败，请重试。');
                    }
                }
            });
        }

    $('#fileAvatar').change(function () {
        imagePreview(this.files[0], $("#avatarPreview"));
    });
</script>


