@using Instart.Models
@using Instart.Web.Infrastructures

@{
    ViewBag.Title = "学部管理";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div>
    <p class="pull-right list-info"><b>@ViewBag.Total</b>条记录，共<b>@ViewBag.TotalPages</b>页</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">添加</button>
</div>
<table class="table table-bordered table-striped" style="margin-top:15px;">
    <thead>
        <tr>
            <th>#</th>
            <th>学部名称</th>
            <th>英文名称</th>
            <th>学部制度</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (Division item in Model)
            {
                <tr>
                    <td style="width:5%;">@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.NameEn</td>
                    <td>@Html.Raw(item.Introduce)</td>
                    <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.CreateTime)</td>
                    <td style="width:10%;">
                        <a data-id="@item.Id" href="javascript:void(0)" class="btn btn-primary" onclick="update(@item.Id, '@item.Name', '@item.NameEn', '@item.Introduce')">修改</a>
                        <a data-id="@item.Id" href="javascript:void(0)" class="btn btn-primary" onclick="remove(@item.Id)">删除</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="row page-center">
    @if (ViewBag.TotalPages > 1)
    {
        <div class="pagination">
            <ul class="pl0">
                @Html.Pager((int)(ViewBag.TotalPages), (int)(ViewBag.PageIndex), "index", new { area = "manage" })
            </ul>
        </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加学部</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="divisionid" />
                <table class="table table-nobordered">
                    <tr>
                        <td style="width:80px;">学部名称：</td>
                        <td>
                            <input id="txtname" type="text" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:80px;">英文名称：</td>
                        <td>
                            <input id="txtenname" type="text" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>学部制度：</td>
                        <td>
                            <script id="editor" type="text/plain" style="width:480px;height:200px;">
                            </script>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btnSubmit" type="button" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>

@section Bottom{
    <script>
        var ue = UE.getEditor('editor', {
            autoHeight: false
        });

        $(function () {
            $('#btnSubmit').click(function () {
                var name = $('#txtname').val();
                var enname = $('#txtenname').val();
                var introduce = $('#txtIntroduce').val();
                if (name == '') {
                    alert('请输入学部名称。');
                    return false;
                }
                $.ajax({
                    type: 'POST',
                    url:  '@Url.Action("insert", "division", new { area="manage"})',
                    data: { Name: name, NameEn: enname, Introduce: ue.getContent() },
                    success: function (slt) {
                        if (slt && slt.success) {
                            location.reload();
                        }
                        else {
                            alert(slt.message || '操作失败，请重试。');
                        }
                    }
                });
            });
        });

        function update(id, name, enname, introduce) {
            $("#divisionid").val(id);
            $("#txtenname").val(enname);
            $("#txtname").val(name);
            ue.setContent(introduce);

            $("#myModal").modal("show");
        }

        function remove(id){
            if (window.confirm('你确定要删除该学部吗？')) {
                $.ajax({
                    type: 'POST',
                    url:  '@Url.Action("delete", "division", new { area="manage"})',
                    data: { id: id},
                    success: function (slt) {
                        if (slt && slt.success) {
                            location.reload();
                        }
                        else {
                            alert(slt.message || '操作失败，请重试。');
                        }
                    }
                });
            } else {
                //alert("取消");
                return false;
            }
        }
    </script>
}

