<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="instart-后台管理系统">
    <link rel="icon" href="/images/monkey.ico">
    <title>instart-后台管理系统</title>

    <link href="~/Content/themes/blueskin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/admin.css" rel="stylesheet">
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/js/admin.js" type="text/javascript"></script>
    <script src="~/Content/themes/blueskin/js/jquery-2.0.3.min.js"></script>
    <script src="~/Content/themes/blueskin/js/bootstrap.min.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script type="text/javascript" charset="utf-8" src="/Content/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/Content/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/Content/jquery.form.js"></script>
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("Head", false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span class="span-username">Instart管理后台</span>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="li-menu-home"><a href="/manage/home">控制台</a></li>
                <li class="dropdown li-menu-system">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/manage/user">用户管理</a></li>
                        <li><a href="/manage/log">操作日志</a></li>
                    </ul>
                </li>
                <li class="dropdown li-menu-school">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">学校管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/manage/campus">校区管理</a></li>
                        <li><a href="/manage/division">学部管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/manage/school">艺术院校</a></li>
                        <li><a href="/manage/teacher">艺术导师</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/manage/major">艺术专业</a></li>
                        <li><a href="/manage/course">课程管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/manage/student">成功学员</a></li>
                        <li><a href="/manage/works">作品管理</a></li>
                    </ul>
                </li>
                <li class="dropdown li-menu-apply">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">咨询管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/manage/copys">咨询文案</a></li>
                        <li><a href="/manage/heremore">here&more</a></li>
                        <li><a href="/manage/teacherquestion">向导师提问</a></li>
                        <li><a href="/manage/schoolapply">院校咨询</a></li>
                        <li><a href="/manage/majorapply">专业咨询</a></li>
                        <li><a href="/manage/workscomment">作品评析</a></li>
                        <li><a href="/manage/courseapply">课程咨询</a></li>
                        <li><a href="/manage/courseorder">课程预约</a></li>
                        <li><a href="/manage/programapply">项目咨询</a></li>
                        <li><a href="/manage/companyapply">实习预约</a></li>
                    </ul>
                </li>
                <li class="dropdown li-menu-feature">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">特色管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/manage/program">项目管理</a></li>
                        <li><a href="/manage/company">实习推荐</a></li>
                        <li><a href="/manage/studio">24小时工作室</a></li>
                        <li><a href="/manage/division">学部制度</a></li>
                        <li><a href="/manage/passlearn">跨学科教学</a></li>
                    </ul>
                </li>
                <li class="dropdown li-menu-other">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/manage/banner">轮播管理</a></li>
                        <li><a href="/manage/partner">合作伙伴</a></li>
                        <li><a href="/manage/recruit">招贤纳士</a></li>
                        <li><a href="/manage/contact">联系我们</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/manage/about">关于instart</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" target="_blank">网站首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> @(Instart.Web2.Models.CookieData.CurrentUser.UserName) <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/manage/user/editinfo">基础设置</a></li>
                        <li><a href="/manage/user/updatepwd">修改密码</a></li>
                        <li><a href="javascript:void(0)" class="quit">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
       @RenderBody()
    </div>

    @RenderSection("Bottom", false)
</body>
</html>

<script>
    $(function () {
        $(".quit").click(function () {
            $.ajax({
                type: "post",
                url: "@Url.Action("quit", "account", new { area="manage"})",
                success: function () {
                    location.href = '@Url.Action("login", "account", new { area="manage" })';
                }
            });
        });
    });

    (function () {
        //当前页导航高亮显示
        var isIndex = true;
        var href = location.href.toLowerCase();
        var $lis = $(".nav-sidebar").children("li");

        var systemMenus = ["user", "log"];
        var schoolMenus = ["campus", "division", "school", "teacher", "major", "course", "student", "works"];
        var applyMenus = ["copys", "heremore", "teacherquestion", "schoolapply", "majorapply", "workscomment", "courseapply", "courseorder", "programapply", "companyapply"];
        var otherMenus = ["banner", "partner", "recruit", "contact", "about"];
        var featureMenus = ["program", "company", "studio", "passlearn"];

        $.each($lis, function () {
            var nav = $(this).attr("data-flag");
            href = href.toLocaleLowerCase().replace(/\?.+/, '');
            var arr = href.split('/');
            var len = arr.length;
            if (( len >= 1 && arr[len - 1] == nav ) || (len >= 2 && arr[len - 2] == nav ) || ( len >= 3 && arr[len - 3] == nav)) {
                $(this).addClass("active");
                isIndex = false;

                if (systemMenus.indexOf(nav) > -1) {
                    $(".li-menu-system").addClass("active");
                }
                else if (schoolMenus.indexOf(nav) > -1) {
                    $(".li-menu-school").addClass("active");
                }
                else if (applyMenus.indexOf(nav) > -1) {
                    $(".li-menu-apply").addClass("active");
                }
                else if (featureMenus.indexOf(nav) > -1) {
                    $(".li-menu-feature").addClass("active");
                }
                else if (otherMenus.indexOf(nav) > -1) {
                    $(".li-menu-other").addClass("active");
                }
                else {
                    $(".li-menu-home").addClass("active");
                }

                return false;
            }
        });

        if (isIndex) {
            $(".nav-sidebar li").eq(0).addClass("active");
            $(".li-menu-home").addClass("active");
        }
    }());

    $(function () {
        $('img').error(function () {
            var w = $(this).width();
            var h = $(this).height();
            if (w == h) {
                $(this).attr('src', "/content/images/place_img2.jpg");
            } else {
                $(this).attr('src', "/content/images/place_img.jpg");
            }            
        });
    });

</script>
