@using Instart.Models
@using Instart.Web.Infrastructures

@{
    ViewBag.Title = "合作伙伴管理";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div>
    <p class="pull-right list-info"><b>@ViewBag.Total</b>条记录，共<b>@ViewBag.TotalPages</b>页</p>
    <button type="button" class="btn btn-primary" onclick="add()">添加</button>
</div>
<table class="table table-bordered table-striped" style="margin-top:15px;">
    <thead>
        <tr>
            <th>#</th>
            <th>名称</th>
            <th>Logo</th>
            <th>链接</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (Partner item in Model)
            {
                <tr>
                    <td style="width:5%;">@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.ImageUrl</td>
                    <td>@item.Link</td>
                    <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.CreateTime)</td>
                    <td style="width:10%;">
                        <a data-id="@item.Id" href="javascript:void(0)" class="btn btn-primary" onclick="update(@item.Id)">修改</a>
                        <a data-id="@item.Id" href="javascript:void(0)" class="btn btn-primary" onclick="remove(@item.Id)">删除</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="row page-center">
    @if (ViewBag.TotalPages > 1)
    {
        <div class="pagination">
            <ul class="pl0">
                @Html.Pager((int)(ViewBag.TotalPages), (int)(ViewBag.PageIndex), "index", new { area = "manage" })
            </ul>
        </div>
    }
</div>

@section Bottom{
    <script>
        function add() {
            location.href = '@Url.Action("edit", "partner", new { area="manage"})';
        }

        function update(id) {
            location.href = '@Url.Action("edit", "partner", new { area="manage" })' + "?id=" + id;
        }

        function remove(id){
            if (window.confirm('你确定要删除该合作伙伴吗？')) {
                $.ajax({
                    type: 'POST',
                    url:  '@Url.Action("delete", "partner", new { area="manage"})',
                    data: { id: id},
                    success: function (slt) {
                        if (slt && slt.success) {
                            location.reload();
                        }
                        else {
                            alert(slt.message || '操作失败，请重试。');
                        }
                    }
                });
            } else {
                //alert("取消");
                return false;
            }
        }
    </script>
}

