@using Instart.Models
@using Instart.Web.Infrastructures
@model Instart.Models.Course

@{
    ViewBag.Title = "课程设置";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/manage/course">课程管理</a></li>
    <li class="active">@ViewBag.Action</li>
</ol>

@using (Html.BeginForm("Set", "Course", new { area = "Manage" }, FormMethod.Post, new { enctype = "multipart/form-data", id = "mainForm", @class = "form-horizontal edit-container-width" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <label class="col-sm-2 control-label">课程名称：</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">英文名：</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.NameEn, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">主题图片：</label>
        <div class="col-sm-10">
            <img src="@Model.Picture" id="coursePreview" style="width:200px;height:200px;border:1px solid #eee;" />
            <input type="hidden" name="Picture" value="@Model.Picture" />
            <a href="javascript:void(0)" onclick="$('#fileCourse').click()" class="btn-link" style="position:relative;top:90px;">点击上传</a>
            <input type='file' id='fileCourse' name='fileCourse' style='display:none;'>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">课程简介：</label>
        <div class="col-sm-10">
            <textarea name="Introduce" id="Introduce" rows="10" class="form-control">@Model.Introduce</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">针对人群：</label>
        <div class="col-sm-10">
            <textarea name="ForPeople" id="ForPeople" rows="10" class="form-control">@Model.ForPeople</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="button" class="btn btn-success" value="提交" onclick="save()" />
        </div>
    </div>
}


@section Bottom{
    <script>
        function save() {
            var name = $("input[name='Name']").val();
            if (name == '') {
                layer.msg('课程名称不能为空。');
                return;
            }
            $("#mainForm").ajaxSubmit({
                success: function (slt) {
                    if (slt && slt.success) {
                        location.href = '@Url.Action("index", "course", new { area="manage"})';
                    }
                    else {
                        layer.msg(slt.message || '操作失败，请重试。');
                    }
                }
            });
        }

        $('#fileCourse').change(function () {
            imagePreview(this.files[0], $("#coursePreview"));
        });

    </script>
}

