@using Instart.Models
@model Instart.Models.School

@{
    ViewBag.Title = ViewBag.Action;
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/manage/school">学校管理</a></li>
    <li class="active">@ViewBag.Action</li>
</ol>

<form class="form-horizontal edit-container-width" id="mainForm" method="post" target="_self" action="/manage/school/set" enctype="multipart/form-data">

    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="form-group">
        <label class="col-sm-2 control-label">学校名称：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Name" value="@Model.Name">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">英文名：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="NameEn" value="@Model.NameEn">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">学校类型：</label>
        <div class="col-sm-10">
            <select name="Type" class="form-control">
                <option value="0">公共艺术类</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">国家：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Country" value="@Model.Country">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">地址：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Address" value="@Model.Address">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">网址：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="WebSite" value="@Model.WebSite">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">学费：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Fee" value="@Model.Fee">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">奖学金：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Scholarship" value="@Model.Scholarship">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">申请难度：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Difficult" value="@Model.Difficult">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">推荐专业：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="RecommendMajor" value="@Model.RecommendMajor">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">学校简介：</label>
        <div class="col-sm-10">
            <textarea name="Introduce" rows="10" class="form-control">@Model.Introduce</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">学校图片：</label>
        <div class="col-sm-10">
            <img src="@Model.Avatar" id="avatarPreview" style="width:80%;height:200px;border:1px solid #eee;" />
            <input type="hidden" name="Avatar" value="@Model.Avatar" />
            <a href="javascript:void(0)" onclick="$('#fileAvatar').click()" class="btn-link" style="position:relative;top:90px;">点击上传</a>
            <input type='file' id='fileAvatar' name='fileAvatar' style='display:none;'>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Logo：</label>
        <div class="col-sm-10">
            <img src="@Model.Logo" id="logoPreview" style="width:100px;height:100px;border:1px solid #eee;" />
            <input type="hidden" name="Logo" value="@Model.Logo" />
            <a href="javascript:void(0)" onclick="$('#fileLogo').click()" class="btn-link" style="position:relative;top:40px;">点击上传</a>
            <input type="file" id="fileLogo" name="fileLogo" style="display:none;">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">推荐首页：</label>
        <div class="col-sm-10">
            @if (Model.IsRecommend)
            {
                <input type="checkbox" class="chkRecommend" checked="checked" /><text>显示</text>
            }
            else
            {
                <input type="checkbox" class="chkRecommend" /><text>显示</text>
            }
            <input type="hidden" name="IsRecommend" value="@Model.IsRecommend" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="btnSubmit" type="button" class="btn btn-success">提交</button>
        </div>
    </div>
</form>

<script>
    $(function () {
        $("#btnSubmit").click(function () {
            var name = $("input[name='Name']").val();
            if (name == '') {
                layer.msg('学校名称不能为空');
                return;
            }

            $("#mainForm").ajaxSubmit({
                success: function (slt) {
                        if (slt && slt.success) {
                            var msg = "@Model.Id" > 0 ? "修改成功" : "添加成功";
                            layer.alert(msg, function (index) {
                                layer.close(index);
                                location.href = '/manage/school';
                            });

                        }
                        else {
                            layer.msg(slt.message || '操作失败，请重试。');
                        }
                    }
                });
        });

        $(".chkRecommend").click(function () {
            var checked = $(this).is(":checked");
            $("input[name='IsRecommend']").val(checked);
        });

        $('#fileAvatar').change(function () {
            imagePreview(this.files[0], $("#avatarPreview"));
        });

        $('#fileLogo').change(function () {
            imagePreview(this.files[0], $("#logoPreview"));
        });
    });   
</script>


