@using Instart.Models
@using Instart.Web.Infrastructures

@{
    ViewBag.Title = "学校管理";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}


<div>
    <p class="pull-right list-info"><b>@ViewBag.Total</b>条记录，共<b>@ViewBag.TotalPages</b>页</p>
    <form method="post" action="" target="_self" class="form-inline" >
        <div class="form-group">
            <input name="keyword" type="text" value="@ViewBag.Keyword" class="form-control" placeholder="学校名称" style="width:300px;">
        </div>
        <button type="submit" class="btn btn-warning">查询</button>
        <button type="button" class="btn btn-success" onclick="add()">添加</button>
    </form>
</div>
<table class="table table-bordered table-striped" style="margin-top:15px;">
    <thead>
        <tr>
            <th>#</th>
            <th>学校名称</th>
            <th>国家</th>
            <th>学费</th>
            <th>申请难度</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (School item in Model)
            {
                <tr>
                    <td style="width:5%;">@item.Id</td>

                    <td>@item.Name</td>
                    <td>@item.Country</td>
                    <td>@item.Fee</td>
                    <td>@item.Difficult</td>
                    <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.CreateTime)</td>
                    <td style="width:10%;">
                        <a href="/school/detail/@item.Id" target="_blank">详情</a>
                        <a data-id="@item.Id" href="javascript:void(0)" class="btn btn-primary" onclick="update(@item.Id)">修改</a>
                        <a data-id="@item.Id" href="javascript:void(0)" class="btn btn-primary" onclick="remove(@item.Id)">删除</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    function remove(schoolId) {
        if (schoolId == 0) {
            return;
        }      

        layer.confirm('确定删除该学校?', function (index) {
            $.post('/manage/school/delete', { id: schoolId }, function (slt) {
                if (slt && slt.success) {
                    location.reload();
                }
                else {
                    layer.msg(slt.message || '操作失败，请重试');
                }
            });

            layer.close(index);
        });          
    }
</script>



















































<div class="row page-center">
    @if (ViewBag.TotalPages > 1)
    {
        <div class="pagination">
            <ul class="pl0">
                @Html.Pager((int)(ViewBag.TotalPages), (int)(ViewBag.PageIndex), "index", new { area = "manage" })
            </ul>
        </div>
    }
</div>

<iframe id="id_iframe" name="9/." style="display:none;"></iframe>

